[Unit]
Description=Timer to change wallpaper based on time of day

[Timer]
OnBootSec=5min  
OnCalendar=*-*-* 07,11,17,21:00:00

[Install]
WantedBy=timers.target

